body {
    padding-top: 0px; /* 50px to make the container go all the way to the bottom of the topbar */
}



/*allow comments to go 3 levels deep 
  after 3, they just line up 
 * */
.comment.reply + .comment.reply {
    margin-left: 200px;
}

.comment.reply + .comment.reply + .comment.reply {
    margin-left: 300px;
}

.makecenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.comment-title {
	font-size: 18px;
	font-weight: bold;
	margin-left:-20px;
	
}

.ta-as-input {
	resize:none;
}
