$def with(blogpost,comment_count,comments,next_post,prev_post,logged_in)

$:render('top', blogpost.title +" - Blog")

<body>
    $:render('header','Blog',blogpost.category,blogpost.subcategory)

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    $:render('flash_messages', 'success')
       				$:render('flash_messages', 'error')
                    <article class="blog-post">
                        <header>
                            <h1>$:(blogpost.title)</h1>
                            <div class="lead-image">
                                <img src="$blogpost.image.url" class="img-responsive" alt="$(blogpost.image.alt)">
                                <div class="meta clearfix">
                      
                                    <div class="author">
                                        <i class="icon-user"></i>
                                        <span class="data">$:(blogpost.author)</span>
                                    </div>
                                    <div class="date">
                                        <i class="icon-calendar"></i>
                                        <span class="data">$dt_as_str(blogpost.created_at,False)</span>
                                    </div>
                                    <div class="comments">
                                        <i class="icon-comments"></i>
                                        <span class="data"><a class="clink" href="#comments">$comment_count Comments</a></span>
                                    </div>                                
                                </div>
                            </div>
                        </header>
                        <div class="body">
                            $:(blogpost.html)
                        </div>
                    </article>

                    <aside class="social-icons clearfix">
                    	<div class="si-container">
                        <a id="tweet" href="#" target="_blank" class="social-icon color-one">
                                <div class="inner-circle" ></div>
                                <i class="icon-twitter"></i>
                        </a>

                        <a id="gplus" href="#" target="_blank" class="social-icon color-two">
                                <div class="inner-circle" ></div>
                                <i class="icon-google-plus"></i>
                        </a>    

                        <a id="fb" href="#" target="_blank" class="social-icon color-three">
                                <div class="inner-circle" ></div>
                                <i class="icon-facebook"></i>
                        </a>
                       </div>
                    </aside>
                    <div class="paging makecenter">
                        $if prev_post != None:
                            <a href="post?pid=$(prev_post.id)" class="newer"><i class="icon-long-arrow-left"></i>$(prev_post.title)</a>
                    <span>&bull;</span>
                        $if next_post != None:
                            <a href="post?pid=$(next_post.id)" class="older">$(next_post.title)<i class="icon-long-arrow-right"></i></a>
                    </div>
                    $:render('comments',comment_count,comments)
                    <div class="paging makecenter">
                        $if prev_post != None:
                            <a href="post?pid=$(prev_post.id)" class="newer"><i class="icon-long-arrow-left"></i>$(prev_post.title)</a>
                    <span>&bull;</span>
                        $if next_post != None:
                            <a href="post?pid=$(next_post.id)" class="older">$(next_post.title)<i class="icon-long-arrow-right"></i></a>
                    </div>
                    $:render('add_comment',blogpost,logged_in)
                </div>
               <aside class="col-md-4 blog-aside">
                    
                    <div class="aside-widget">
           			<!-- Start Render read next -->
                    $:render('side-readnext',blogpost.created_at)
                	<!-- End Render read next -->
                    </div>
                
                    <div class="aside-widget">
					<!-- Start Render author favs -->
                    $:render('side-authorfav')
                	<!-- End Render author favs -->
                    </div>

                    <div class="aside-widget">
					<!-- Start Render author favs -->
                    $:render('side-tags',blogpost.tags,1)
                	<!-- End Render author favs -->
                    </div>
                </aside>
            </div>
        </div>
    </div>

       <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                   	<!-- Start Render Statistics -->
						$:render('statistics')
                    <!-- End Render Statistics -->
                    </div>
						
                    <div class="col-md-4 footer-widget">
                    <!-- Start Render Hall of Fame -->
                    	$:render('hof')
                    <!-- End Render Hall of Fame -->
                    </div>

                    <div class="col-md-4 footer-widget">
                    <!-- Start Render Contact Me-->
                    	$:render('contactme')
                    <!-- End Render Contact Me -->
                    </div>
                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
            <div class="container">
            	$:render('copyright')
            </div>
        </div>
    </footer>
    
	$:render('bottom')
	
</body>
</html>