$def with(count,comments)
<aside class="comments" id="comments">
	<hr>
	<h2><i class="icon-comments"></i> $count Comments</h2>
	$for comment in comments:
		$if comment.from_admin == True:
			$ a_cls = "admincomment"
		$else:
			$ a_cls = "comment"
		$ indent = comment.indent
		$ indent_txt = ""
		$if indent > 6: $ indent_txt = "replyx"
		$else: $ indent_txt = "reply%d" % indent
		<article class="$a_cls $:(indent_txt)">
		    <header class="clearfix">
		    	$#calc image md5 for gravatar
		    	$ md5 = hashlib.new("md5")
		    	$ md5.update(comment.email.strip()+"")
		    	$ md5 = md5.hexdigest()
		    	<img src="http://www.gravatar.com/avatar/$(md5)?d=identicon" alt="Comment Author Gravatar" class="avatar">
		        $#<img src="static/img/avatar.png" alt="A Smart Guy" class="avatar">
		        <div class="meta">
		            <h4>$(comment.author)</h4>
		            <span class="date"> Posted $dt_as_ago(comment.created_at)</span>
		            <span class="separator">-</span>
		            <a commentid="$comment.id" href="#create-comment" class=" replyto reply-link">Reply</a>                
		        </div>
		    </header>
		    <div class="body">
		    <div class="comment-title" id="ctitle$(comment.id)">$(comment.title)</div>
		    	$# this field gets websafe(d) upon upload, so it is safe to allow html here
		        $:(comment.text)
		    </div>
		    </article>

</aside>

