$def with(title,html)

$:render('top', title)

<body>
       $:render('header',title,None,None)

    <div class="widewrapper main">
        <div class="container content">
       	    $:render('flash_messages', 'success')
       	    $:render('flash_messages', 'error')
           $:html
        </div>
    </div>
    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                   	<!-- Start Render Statistics -->
						$:render('statistics')
                    <!-- End Render Statistics -->
                    </div>
						
                    <div class="col-md-4 footer-widget">
                    <!-- Start Render Hall of Fame -->
                    	$:render('hof')
                    <!-- End Render Hall of Fame -->
                    </div>

                    <div class="col-md-4 footer-widget">
                    <!-- Start Render Contact Me-->
                    	$:render('contactme')
                    <!-- End Render Contact Me -->
                    </div>
                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
            <div class="container">
                $:render('copyright')
            </div>
        </div>
    </footer>
    
	$:render('bottom')

</body>
</html>