$def with(blogpost)
<div class="col-md-6 col-sm-6">
	<article class=" blog-teaser">
	    <header>
	    	<div class="bt_teaser">
	    		<img class="img-responsive"  src="$blogpost.small_image.url" alt="$(blogpost.small_image.alt)">
	    	</div>
	        <h3><a href="/post?pid=$(blogpost.id)">$:(blogpost.title)</a></h3>
	        <span class="meta">$dt_as_str(blogpost.created_at,False) </span>
	        $#<em>$(blogpost.author)</em>
	        <hr>
	    </header>
	    <div class="body">
	    	$:(blogpost.teaser_txt)
	    </div>
	    <div class="clearfix">
	        <a href="/post?pid=$:(blogpost.id)" class="btn btn-tales-one">Read more</a>
	    </div>
	</article>
</div>
