$def with()

<h3> <i class="icon-cog"></i>Statistics</h3>

<span>Even we sometimes loose track of how many articles we actually have here.  This one helps:</span>

<div class="stats">
    <div class="line">
        <span class="counter">$(blog_data.total_posts)</span>
        <span class="caption">Articles</span>
    </div>
    <div class="line">
        <span class="counter">$(blog_data.total_comments)</span>
        <span class="caption">Comments</span>
    </div>
    <div class="line">
        <span class="counter">$(blog_data.total_authors)</span>
        <span class="caption">Authors</span>
    </div>                    
</div>